* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	
}

/*Barra de navegación*/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 60%;
	margin: 20px;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation a {
	display: block;
	padding: 15px;
	text-decoration: none;
	font-weight: bold;
}

.flexContainerInicio {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	width: 80%;
	margin: auto;
	margin-top: 2.5rem;
}

#fotoDePerfil {
	border-radius: 50px;
	width: 18rem;
	height: 18rem;
	margin-right: 4rem;
}

.inicio {
	line-height: 1.5;
	margin: 15px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.titulo {
	font-size: 40px;
	font-weight: bold;
}

.subtitulo {
	font-size: 23px;
	font-weight: bold;
}

p {
	font-size: 18px;
	line-height: 1.2;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-size: 24px;
	line-height: 1.2;
	text-align: justify;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

h4 {
	font-size: 24px;
	line-height: 1.2;
	text-align: justify;
	font-family: 'Raleway', sans-serif;
	font-weight: bold
}

h5 {
	font-size: 21px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold
}

#SOBREMI {
	font-size: 18px;
	line-height: 100px;
	font-weight: bold;
	text-align: center;
	margin-top: 80px;
	list-style-type: none;
}

.sobremi ul {
	font-size: 18px;
	line-height: 1.5;
	font-weight: bold;
	text-align: center;
	list-style: none;
}

/* Botones de navegación */
.botonNav {
	border: none;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 80px;
	transition: 1s ease all;
	color: black;
	background: lightblue;
}

.botonNav:hover {
	background-color: #231eac;
	color: blanchedalmond;
}

/* Página de Contacto */

form {
	width: 50%;
	background-color: #8FADBF;
	padding: 0.25rem;
	border-radius: 0.3rem;
}


.formulario {
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
}

legend {
	width: 20%;
	font-size: 15px;
}

.form-select {
	width: 100%;

}

#fNombre {
	margin: 20px;
}


/* CAJA DE TEXTO FORMULARIO REVISAR
textarea{
}
*/
.fFuente {
	margin: 10px;
	font-size: 15px;
}

.mensajeOpcional {
	margin: 10px;
	font-size: 15px;
}

#fBoton {
	margin: 10px;
	margin-bottom: 10px;
}

.Enviar {
	border: none;
	min-width: 100px;
	height: 30px;
	padding: 0 30px;
	color: #fff;
	border-radius: 100px;
	text-decoration: none;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	background: #403CC2;
	transition: .3s ease all;
}

.Enviar:hover {
	background-color: #1B1881;
	text-decoration: none;
}

.Borrar {
	border: none;
	min-width: 100px;
	height: 30px;
	padding: 0 30px;
	color: #fff;
	border-radius: 100px;
	text-decoration: none;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	background: #403CC2;
	transition: .3s ease all;
}

.Borrar:hover {
	background-color: #1B1881;
	text-decoration: none;
}

/* Página Educación */

.encabezado {
	padding-left: 80px;
}

.encabezado p {
	font-weight: bold;
	font-size: 23px;
}

.flexContainer {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding-bottom: 40px;
}

.textoLogo {
	display: flex;
	flex-direction: row;
	margin: 10px;
	padding-bottom: 30px;
	justify-content: space-around;
	align-items: center;
}

.textoEducacion {
	padding: 10px;
	width: 50%;
}

.textoEducacion p {
	line-height: 1.6;
}

#Udesa {
	width: 260px;
	height: 180px;
}

#Udesa:hover {
	transform: scale(1.2, 1.2);
}


#ESCCP {
	width: 170px;
	height: 190px;
	margin-right: 30px;
	transform: scale(0.8, 0.8);
}

#ESCCP:hover {
	transform: scale(1.05, 1.05);
}

/* Cards de cursos */

.containerSeparador {
	text-align: center;
	text-transform: uppercase;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 30px;
	margin: auto;
	margin-bottom: 20px;
	width: 80%;
}

.flexContainerCards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	height: 800px;
	width: 70%;
	margin: auto;
	margin-bottom: 100px;
}

.containerCards {
	width: 280px;
	height: 355px;
	border-radius: 8px;
	overflow: hidden;
	margin: 20px;
	transition: all 0.30s;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.flexContainerCards .containerCards:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.6);
}

.containerCards img {
	width: 280px;
	height: 180px;
}

.containerCards h3 {
	font-weight: 900;
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
}

.containerCards p {
	text-align: justify;
	font-size: 17px;
	margin: 5px;
}

/* Página Experiencia */

.textoExperiencia {
	padding: 10px;
	width: 50%;
}

.textoExperiencia p {
	line-height: 1.6;
}

#PwC {
	width: 200px;
	height: 190px;
	justify-items: right;
	transform: scale(1.2, 1.2);
}

#Avon {
	width: 180px;
	height: 170px;
	justify-items: right;
	transform: scale(1.2, 1.2);
}

#KPMG {
	width: 180px;
	height: 150px;
	justify-items: right;
	transform: scale(1.2, 1.2);
}

/* Footer */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(168, 185, 209);
	color: blanchedalmond;
	height: 10rem;
	
}

.footer {
	height: 80%;
	width: 100%;
	margin: 20rem;
}

.iconos {
	display: flex;
	justify-content: center;
}

.iconoFooter {
	width: 2.5rem;
	height: 2.5rem;
	margin-bottom: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.copyright {
	margin: auto;
	align-items: center;

}

.footerTexto {
	font-size: 1rem;
	text-align: center;
}